<% include partials/header %>


<div class = 'container'>
<header class='jumbotron'>
    <div class = 'container'>
        <h1>This is the campgrounds page</h1>
        <p>handpicked list of campgrounds from all over the world</p>
        <p>
            <a class = 'btn btn-primary btn-large' href = '/campgrounds/new'> Add new campground </a>
        </p>
    </div>
</header>

<div class= 'row text-center' style = 'display: flex; flex-wrap: wrap;'>
    <% campgrounds.forEach(function(cg){ %>
        <div class='col-md-3 col-sm-6'> 
        <a href='/campgrounds/<%= cg._id %>'>
                <div class = 'thumbnail'>
                    <img src = "<%= cg.image %>"> 
                <div class='caption'> 
                    <h4> <%= cg.name %> </h4>
                </div>
                </div>
            </a>
        </div>
    <% }); %>
</div>

</div>
<% include partials/footer %>