<% include partials/header %>
    
<h1>This is the show page</h1>

<h3><%= campground.name %></h3>

<img src = '<%= campground.image %>'>

<p> <%= campground.description %></p>

<% include partials/footer %>
